<nav>
  <ul class="nav">
    <li class="nav-item disabled">
      <a class="nav-link disabled">The Exchange</a>
    </li>
    <li *ngIf="!user" class="nav-item">
      <a class="nav-link active" routerLink="/">Login</a>
    </li>
    <li *ngIf="user">
      <a class="nav-link active" routerLink="/users/{{user}}">{{user}}'s Profile</a>
    </li>
    <li *ngIf="user" class="nav-item">
      <a class="nav-link active" routerLink="/markets">View Markets</a>
    </li>
    <li *ngIf="user" class="nav-item">
      <a class="nav-link active" routerLink="/create">Create Market</a>
    </li>
    <li *ngIf="user">
      <a class="nav-link active" (click)="logOut()" href="#">Sign Out</a>
    </li>
  </ul>
</nav>