<div class="container">
  <div class="card card-body">
    <h4 class="card-title">{{currentMarket.market_name}}</h4>
    <h5 class="card-subtitle mb-2 text-muted">{{currentMarket.price | currency}}</h5>
    <p class="card-text">Bid: {{currentMarket.bid | currency}}</p>
    <p class="card-text">Ask: {{currentMarket.ask | currency}}</p>
    <p class="card-text">Created: {{currentMarket.create_time}}</p>
    <p class="card-text">Ending: {{currentMarket.end_time}}</p>
    <p class="card-text">Description: {{currentMarket.market_descriptor}}</p>
  </div>
  <br>
  <h3>Place Order</h3>
  <form>
    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
      <label class="btn btn-outline-dark active">
        <input type="radio" name="bid" value="true" autocomplete="off" [(ngModel)]="bidask" checked> Bid {{bidask}}
      </label>
      <label class="btn btn-outline-dark">
        <input type="radio" name="ask" value="false" autocomplete="off" [(ngModel)]="bidask"> Ask {{bidask}}
      </label>
    </div>
    <div class="form-group">
      <input type="number" min="0" class="form-control" placeholder="User ID" [(ngModel)]="order.user_id" name="id">
    </div>
    <div class="form-group">
      <input type="number" step="0.01" class="form-control" placeholder="Price" [(ngModel)]="order.price" name="price">
    </div>
    <div class="form-group">
      <input type="number" min="0" class="form-control" placeholder="Volume" [(ngModel)]="order.volume" name="volume">
    </div>
    <button type="submit" class="btn btn-outline-dark" (click)="addOrder()">Place Order</button>
  </form>
</div>