<div *ngIf="user" class="container">
  <h3><strong>Name: </strong>{{user.user}}</h3>
  <h3><strong>Cash: </strong>{{user.cash}}</h3>
  <h3><strong>PnL: </strong>{{user.pnl}}</h3> 
  <h3><strong>Positions</strong></h3>
  <div *ngIf="user.list_of_positions.length > 0">
    <p *ngFor="let position of user.list_of_positions">{{position}}</p>
  </div>
  <h3><strong>Bids</strong></h3>
  <p *ngFor="let bid of user.list_of_bids">{{bid}}</p>
  <h3><strong>Asks</strong></h3>
  <p *ngFor="let ask of user.list_of_asks">{{ask}}</p>
</div>